html{
    background-color: rgb(225, 205, 205);
}

.logo-and-title {
    display: flex;
    align-items: center;
}
.logo-and-title h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
}
.logo-and-title img {
    max-width: 80px;
    margin-right: 20px; 
}

header h1 {
    margin: 0;
    padding: 0;
}

#nav table {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-collapse: collapse;
}
#nav table td {
    padding: 10px;
    text-align: center;
}
#nav table td .tombol {
    background-color: #d3c31a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
}
#nav table td button:hover {
    background-color: #5e570e; 
}
#nav table td .tombol-active {
    background-color: #29e423; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
}
#nav table td .tombol-active:hover {
    background-color: #347655; 
}

#conten form {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}
#conten table {
    width: 100%;
}
#conten th,#conten td {
    text-align: left;
    padding: 8px;
}
#conten input[type="submit"] {
    background-color: #4CAF50;  
    color: white;  
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;  
    margin: 0 auto; 
    cursor: pointer;
}
#conten input[type="submit"]:hover {
    background-color: #45a049; 
}

footer {
    background-color: #6b4a4a;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
